<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {{ content_for_header }}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {% render 'color-schemes' %}
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>

    {%- style -%}
      {{ settings.font_body_family | font_face: font_display: 'swap' }}
      {{ settings.font_subheading_family | font_face: font_display: 'swap' }}
      {{ settings.font_heading_family | font_face: font_display: 'swap' }}

      :root {
        --font-body-family: {{ settings.font_body_family.family }}, {{ settings.font_body_family.fallback_families }};
        --font-body-size: {{ settings.font_body_size }}px;
        --font-body-transform: {% if settings.font_body_uppercase %}uppercase{% else %}none{% endif %};

        --font-subheading-family: {{ settings.font_subheading_family.family }}, {{ settings.font_subheading_family.fallback_families }};
        --font-subheading-size: {{ settings.font_subheading_size }}px;
        --font-subheading-transform: {% if settings.font_subheading_uppercase %}uppercase{% else %}none{% endif %};

        --font-heading-family: {{ settings.font_heading_family.family }}, {{ settings.font_heading_family.fallback_families }};
        --font-heading-size: {{ settings.font_heading_size }}px;
        --font-heading-transform: {% if settings.font_heading_uppercase %}uppercase{% else %}none{% endif %};

        --heading-size-small-mobile: {{ settings.heading_size_small_mobile }}px;
        --heading-size-medium-mobile: {{ settings.heading_size_medium_mobile }}px;
        --heading-size-large-mobile: {{ settings.heading_size_large_mobile }}px;
        --heading-size-xl-mobile: {{ settings.heading_size_xl_mobile }}px;
        --heading-size-xxl-mobile: {{ settings.heading_size_xxl_mobile }}px;

        --heading-size-small-desktop: {{ settings.heading_size_small_desktop }}px;
        --heading-size-medium-desktop: {{ settings.heading_size_medium_desktop }}px;
        --heading-size-large-desktop: {{ settings.heading_size_large_desktop }}px;
        --heading-size-xl-desktop: {{ settings.heading_size_xl_desktop }}px;
        --heading-size-xxl-desktop: {{ settings.heading_size_xxl_desktop }}px;

        --page-width: {{ settings.page_width }}px;
      }
    {%- endstyle -%}
  </head>

  <body class="template-{{ request.page_type }}">
    <a class="skip-to-content-link visually-hidden" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

    {% sections 'header-group' %}

    <main id="MainContent" class="content-for-layout">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}
  </body>
</html>
