{%- style -%}
  #shopify-section-{{ section.id }} .rich-text {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  @media screen and (max-width: 749px) {
    #shopify-section-{{ section.id }} .rich-text {
      padding-top: {{ section.settings.padding_top_m }}px;
      padding-bottom: {{ section.settings.padding_bottom_m }}px;
    }
  }
{%- endstyle -%}

<div class="rich-text color-{{ section.settings.color_scheme }}">
  <div class="rich-text__wrapper flex flex-column items-center text-center {{ section.settings.container_width }} rich-text__wrapper--{{ section.settings.text_alignment }}">
    {%- if section.settings.heading != blank -%}
      <h2 class="rich-text__heading heading heading--{{ section.settings.heading_size }}">{{ section.settings.heading }}</h2>
    {%- endif -%}

    {%- if section.settings.content != blank -%}
      <div class="rich-text__content text-body">{{ section.settings.content }}</div>
    {%- endif -%}

    {%- if section.settings.button_label != blank -%}
      <div class="rich-text__buttons">
        {%- render 'button',
          label: section.settings.button_label,
          url: section.settings.button_link,
          button_style: section.settings.button_style
        -%}
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Rich text",
  "class": "shopify-section--rich-text",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Talk about your brand"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading size",
      "options": [
        { "value": "small", "label": "Small" },
        { "value": "medium", "label": "Medium" },
        { "value": "large", "label": "Large" },
        { "value": "xl", "label": "XL" },
        { "value": "xxl", "label": "XXL" }
      ],
      "default": "large"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button style",
      "default": "primary",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        },
        {
          "value": "link",
          "label": "link"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "center"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "container_width",
      "label": "Container Width",
      "default": "container-standard",
      "options": [
        {
          "value": "full-width",
          "label": "Full Width"
        },
        {
          "value": "container-padded",
          "label": "Full Width (Padded)"
        },
        {
          "value": "container-standard",
          "label": "Standard"
        },
        {
          "value": "container-narrow",
          "label": "Narrow"
        }
      ]
    },
    {
      "type": "header",
      "content": "Spacing Desktop"
    },
    {
      "type": "number",
      "id": "padding_top",
      "label": "Top spacing (px)",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_bottom",
      "label": "Bottom spacing (px)",
      "default": 0
    },
    {
      "type": "header",
      "content": "Spacing Mobile"
    },
    {
      "type": "number",
      "id": "padding_top_m",
      "label": "Top spacing (px)",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_bottom_m",
      "label": "Bottom spacing (px)",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Rich text"
    }
  ]
}
{% endschema %}
